<!--<div
    class="rounded-md bg-transparent text-black dark:text-white ">
    <div class="text-center">
        <h1 class="text-2xl font-bold">Категории</h1>
    </div>    
    <div class="relative flex items-center mt-5">
        <div class="flex w-1/6 p-2" *ngFor="let category of categories; let i = index">
            <app-rectangle [imageUrl]="category.Image" [title]="category.Name"></app-rectangle>
        </div>
    </div>
</div>
-->

<div class="rounded-md bg-transparent text-black dark:text-white">
    <div class="text-center">
      <h1 class="text-2xl font-bold">Категории</h1>
    </div>
  
    <div class="relative mt-5">
      <!-- Контейнер с горизонтальным скроллингом -->
      <div class="flex overflow-x-auto py-2 space-x-4">
        <div *ngFor="let category of categories; let i = index" class="flex-shrink-0 w-1/6 p-2">
          <app-rectangle [imageUrl]="category.Image" [title]="category.Name"></app-rectangle>
        </div>
      </div>
  
      <!-- Кнопка для прокрутки -->
      <div class="flex justify-center mt-4">
        <button
          *ngIf="categories.length > 6" 
          (click)="scrollRight()"
          class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
          Показать ещё
        </button>
      </div>
    </div>
  </div>
  