<form [formGroup]="resetPasswordForm" class="flex items-center justify-center min-h-screen bg-slate-700 dark:bg-yellow-600"
(ngSubmit)="onSubmit()">
    <div class="bg-slate-800 dark:bg-yellow-500 p-6 rounded-lg shadow-md w-full max-w-sm">
        <h2 class="text-2xl font-bold mb-4 text-center text-white dark:text-black">Смена пароля</h2>
        <div class="mb-4">
            <label for="password" class="text-white dark:text-black">Введите новый пароль</label>
            <div class="relative">
                <input id="password" [type]="resetPasswordVisible ? 'text' : 'password'"
                formControlName="password" 
                class="w-full px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-emerald-500"
                placeholder="Введите новый пароль" />
                <fa-icon [icon]="resetPasswordVisibleIcon" 
                (click)="toggleResetPasswordVisibility()"
                class="absolute inset-y-0 right-0 pr-3 h-full flex items-center cursor-pointer"></fa-icon>
            </div>              
            <div *ngIf="resetPasswordForm.get('password')!.invalid && resetPasswordForm.get('password')!.touched"
            class="text-red-500 text-sm mt-1">
                <div *ngIf="resetPasswordForm.get('password')?.errors?.['required']">
                    <small>Пароль не может быть пустым</small>
                </div>
                <div *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">
                    <small>Минимальное количество символов в пароле должно быть больше 5 знаков</small>
                  </div>
                  <div *ngIf="resetPasswordForm.get('password')?.errors?.['hasUpperCase']">
                    <small>Пароль должен содержать хотя бы одну большую букву</small>
                  </div>
                  <div *ngIf="resetPasswordForm.get('password')?.errors?.['hasLowerCase']">
                    <small>Пароль должен содержать хотя бы одну маленькую букву</small>
                  </div>
                  <div *ngIf="resetPasswordForm.get('password')?.errors?.['hasNumericChar']">
                    <small>Пароль должен содержать хотя бы одну цифру</small>
                  </div>
                  <div *ngIf="resetPasswordForm.get('password')?.errors?.['hasSpecialChar']">
                    <small>Пароль должен содержать хотя бы один символ</small>
                  </div>
            </div>
        </div>
        <div class="mb-4">
            <label for="confirmPassword" class="block text-white dark:text-black">Подтверждение нового пароля</label>
            <div class="relative mt-1">
              <input [type]="confirmPasswordVisible ? 'text' : 'password'" placeholder="Подтверждение пароля"
                id="confirmPassword" formControlName="confirmPassword"
                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-emerald-500">
              <fa-icon [icon]="confirmPasswordVisibleIcon" (click)="toggleConfirmPasswordVisibility()"
                class="absolute inset-y-0 right-0 pr-3 h-full flex cursor-pointer items-center"></fa-icon>
            </div>
            <div *ngIf="resetPasswordForm.get('confirmPassword')!.invalid && resetPasswordForm.get('confirmPassword')!.touched"
              class="text-red-500 text-sm mt-1">
              <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">
                <small>Не может быть пустым</small>
              </div>
              <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['mismatch']">
                <small>Пароль не совпадает</small>
              </div>
            </div>
          </div>
        <button type="submit"
            class="w-full bg-emerald-700 mt-5 text-white py-2 rounded-lg hover:bg-emerald-500 focus:outline-none focus:ring-2 focus:ring-emerald-300 mb-4">
            Сменить
        <fa-icon [icon]="changeIcon"></fa-icon></button>
    </div>
</form>