<footer class="py-8 border-t border-gray-700 dark:border-gray-200 dark:text-slate-50 dark:bg-slate-800">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-between">
            <div class="w-full md:w-1/3 mb-6 md:mb-0">
                <h5 class="uppercase font-bold mb-2">
                    О нас
                </h5>
                <p>Мы предоставляем лучшие услуги для наших клиентов</p>
            </div>
            <div class="w-full md:w-1/3 mb-6 md:mb-0">
                <h5 class="uppercase font-bold mb-2">Контакты</h5>
                <ul class="list-none">
                    <li class="mb-2">
                        <a href="#" class="hover:text-slate-400">Email</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="hover:text-slate-400">Телефон</a>
                    </li>
                </ul>
            </div>
            <div class="w-full md:w-1/3">
                <h5 class="uppercase cursor-auto font-bold mb-2">Социальные сети</h5>
                <ul class="list-none flex">
                    <li class="mr-4">
                        <a href="#" class="hover:text-slate-600">Вконтакте
                            <fa-icon [icon]="vk"></fa-icon>
                        </a>
                    </li>
                    <li class="mr-4">
                        <a href="#" class="hover:text-slate-600">Instagram
                            <fa-icon [icon]="instagram"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="hover:text-slate-600">Telegram
                            <fa-icon [icon]="tg"></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-8 border-t border-black dark:border-white pt-4 text-center">
            <p>&copy; {{date}} Solimus. Все права защищены.</p>
        </div>
    </div>
</footer>
